<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div>Witaj</div>
    <div>Oto link potrzebny do zresetowania hasła</div>
    <div>Jeżeli nie Ty chciałeś zresetować to hasło to zignoruj tego maila</div>
    <a style="margin-top: 10px;" href="{{textToReplace}}">
        <button style=" background-color: rgb(14 116 144 / 1); outline: none; border: none; width:90px; height: 30px;  border-radius: 5px;box-shadow: '0px 3px 18px -9px rgba(66, 68, 90, 1)'; color: white" >Zresetuj hasło</button>
    </a>
</body>
</html>