<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div>No cześć {{textToReplace}}</div>
    <div>Bardzo się cieszę że dołączyłeś do zacnego grona twórców na moim blogu</div>
    <div>Mam nadzieję że fajnie będzie nam się współpracować. Udanej twórczości i do dzieła !</div>
    <a style="margin-top: 10px;" href="http://localhost:5173/">
        <button style=" background-color: rgb(14 116 144 / 1); outline: none; border: none; width:90px; height: 30px;  border-radius: 5px;box-shadow: '0px 3px 18px -9px rgba(66, 68, 90, 1)'; color: white" >Dodaj nowy post</button>
    </a>
</body>
</html>